<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <title>{% block title %} {% endblock title %} - MyTodo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyTodo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>

                {% if session.get('user_id') %}
                    <!-- Show Logout Button if User is Logged In -->
                    <form class="d-flex" action="/logout" method="GET">
                        <span class="navbar-text me-3">Welcome, {{ session['name'] }}</span>
                        <button class="btn btn-outline-dark" type="submit">Logout</button>
                    </form>
                {% else %}
                    <!-- Show Login Button if User is Not Logged In -->
                    <form class="d-flex">
                        <a href="/login" class="btn btn-outline-dark">Login</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block body %}

    {% endblock body %}
</body>

</html>
